@import url('https://fonts.googleapis.com/css?family=Lilita+One');

* {
    color: #C0C0C0;
    font-family: 'Lilita One', cursive;
    text-align: center;
    margin: 0;
    outline: none;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
}


body {
    min-width: 450px;
    min-height: 640px;
}

header {
    display: flex;
    height: auto;
    background: #EDEDED;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

#header-paw {
    color: #0D322A;
}

.header__logo {
    content: url("images/logo.jpg");
    height: 100px;
    min-width: 100px;
}


.header__slogan {
    color: #0D322A;
    flex-grow: 3;
}

.container {
    display: flex;
}

.container__left_column {
    flex: 1;
    background-image: url("images/happy2D.jpg");
    background-size: cover;
    background-position: right;
}

.container__right_column {
    flex: 1;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
}

@media screen and (max-width: 400px) {
    .container {
        flex-direction: column-reverse;
    }

    .container--left_column {
        background-size: auto 80%;
        background-position: top;
    }
}

.form {
    display: flex;
    margin: 10% 10%;
    padding: 5%;
    justify-content: center;
    height: auto;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #C0C0C0;
}

.form label{
    margin-bottom: 20px;
}

.form input {
    height: 20px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #C0C0C0;
    color: #C0C0C0;
    text-align: center;
    margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="checkbox"] {
    display: none;
}

#checkbox-label {
    padding-left: 20px;
    text-transform: uppercase;
}

#checkbox-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #C0C0C0;
    border-radius: 20%;
    vertical-align: bottom;
    margin-right: 10px;
    transition: 0.3s;
    text-align: center;
}

input[type="checkbox"]:checked + #checkbox-label::before {
    background-color: #0D322A;
    background-image: url("images/pawprintafter.png");
    background-size: 100%;
}


.form__btn {
    height: 30px;
    width: 80%;
    margin-bottom: 10px;
    background: #0D322A;
    color: #C0C0C0;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.form__btn:hover {
    background: #C0C0C0;
    color: #0D322A;
}

.form__gender {
    display: inline-block;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

.form__gender label {
    padding-left: 20px;
}

.form__gender label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #C0C0C0;
    border-radius: 10%;
    margin-right: 10px;
}

input[type="radio"]:checked + label::before{
    background-image: url("images/pawprintbefore.png");
    background-size: 100%;
}

.form__size select {
    height: 30px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding: 5px 8px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #C0C0C0;
    background-color: transparent;
    -webkit-appearance: none;
}


.form__size option {
    background-color: gray;
    color: #EDEDED;
}

.form__textarea textarea {
    height: 60px;
    margin-bottom: 20px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #F8F8F6;
    width: 90%;
    text-align: left;
    color: #F8F8F6;
    resize: none;
}
	
	
	
	

