@import url('https://fonts.googleapis.com/css?family=Lilita+One');

* {
    color: #C0C0C0;
    font-family: 'Lilita One', cursive;
    text-align: center;
    margin: 0;
    outline: none;
}

body, html {
    min-width: 450px;
    min-height: 640px;
    height: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    height: 10%;
    background: #C0C0C0;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

i {
    color: #0D322A;
}

.header__slogan {
    color: #0D322A;
    flex-grow: 3;
}

.container {
    display: flex;
    height: 90%;
}

.container__left-column {
    flex: 1;
    background: linear-gradient(45deg, #6c706f, #2c302f) ;
    background-size: cover;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__right-column {
    flex: 1;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .container {
        flex-direction: column-reverse;
    }

    .container__left-column {
        background-size: auto 80%;
        background-position: top;
    }
}

h2 {
    margin-bottom: 30px;
}

.form {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    align-content: space-between;
    height: auto;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #C0C0C0;
}

.form input {
    height: 20px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #C0C0C0;
    color: #C0C0C0;
    text-align: center;
    font-size: large;
}

.form label {
    margin-bottom: 20px;
    font-size: small;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type="checkbox"] {
    display: none;
}

#checkbox-label {
    padding-left: 20px;
    text-transform: uppercase;
}

#checkbox-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #C0C0C0;
    border-radius: 20%;
    vertical-align: bottom;
    margin-right: 10px;
    transition: 0.3s;
    text-align: center;
}

input[type="checkbox"]:checked + #checkbox-label::before {
    background-color: #0D322A;
    background-image: url("../images/pawprintafter.png");
    background-size: 100%;
}

input[type="submit"] {
    height: 30px;
    width: 80%;
    margin-top: 30px;
    background: #0D322A;
    color: #C0C0C0;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background: #C0C0C0;
    color: #0D322A;
}

.form__gender {
    display: inline-block;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

.form__gender label {
    padding-left: 20px;
    vertical-align: top;
}

.form__gender label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #C0C0C0;
    border-radius: 10%;
    margin-right: 10px;
}

input[type="radio"]:checked + label::before {
    background-image: url("../images/pawprintbefore.png");
    background-size: 100%;
}

textarea {
    height: 60px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #C0C0C0;;
    width: 98%;
    text-align: start;
    color: #C0C0C0;;
    resize: none;
}

input.invalid {
    border-bottom: solid 2px red;
}

	
	
	
	

